.ln-12{
  margin-top: 2.2rem;
}

.smbtn{
  visibility: hidden;
}

@media screen and (max-width: 600px){
  .smlinks{
    visibility: hidden;
  }
  .smbtn{
    visibility: visible;
    margin-top: 2.2rem;
    margin-left: 12.2rem;
  }
}